<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Coches</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .container {
            min-width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark w-100">
        <div class="container-fluid">
          <a class="navbar-brand fs-2" href="#">Mis Coches</a>
          <div class="d-flex">
            <a href="/" class="btn btn-primary me-2">Inicio</a>
            <a href="coches/nuevo" class="btn btn-primary me-2">Nuevo Coche</a>
          </div>
        </div>
      </nav>

      <div class="container">

        <table class="table table-hover m-3">
            <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-2">Modelo</th>
                    <th class="col-2">Matricula</th>
                    <th class="col-1">Gasolina</th>
                    <th class="col-1">Kilometros</th>
                    <th class="col-1">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="coches : ${coches}">
                    <td th:text="${coches.idCoches}"></td>
                    <td th:text="${coches.nombreCoche}"></td>
                    <td th:text="${coches.matriculaCoche}"></td>
                    <td th:text="${coches.gasolinaCoche}"></td>
                    <td th:text="${coches.kilometrosCoche}"></td>
                    <td>
                        <form action="/coches/eliminar" method="POST">
                            <input type="hidden" name="id" th:value="${coches.idCoches}" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        
</div>
</body>
</html>