<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Cliente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="#">Nuevo Cliente</a>
            <div class="d-flex">
                <a href="/clientes" class="btn btn-primary me-2">Clientes</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <form action="" method="post">
                    <div class="mb-3 mt-5">
                        <label for="nombrecliente" class="form-label">Nombre Cliente</label>
                        <input type="text" class="form-control" id="nombrecliente" name="nombrecliente">
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccioncliente" name="direccioncliente">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefonocliente" name="telefonocliente">
                    </div>
                    <div class="mb-2 text-end">
                      <a href="/" class="btn btn-primary">Volver</a>
                      <button class="btn btn-primary">Guardar</button>
                  </div>
                </form>
            </div>
        </div>
    </div>    
</body>

</html>
